*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Poppins;
	text-align: center;
}

.wrapper{
	width: 90%;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 100px;
	background-color: #a82d44;
	position: fixed;
}

.logo{
	width: 30%;
	float: left;
	text-align: left;
	line-height: 100px;
}

.logo a{
	text-decoration: none;
	font-size: 30px;
	font-family: cursive;
	letter-spacing: 4px;
	color: #fff;
}

nav{
	float: right;
	line-height: 100px;
}

nav a{
	text-decoration: none;
	font-family: Poppins;
	letter-spacing: 4px;
	font-size: 20px;
	color: #fff;
	padding: 36px 10x;
	margin: 0 1px;
	font-weight: 500;
}

nav a:hover{
	background: #fff;
	color: #130f40;
}

.banner{
	background-image: url(logo.jpg);
	background-size: cover;
	background-position: center center;
	top: 100px;
	height: 100vh;
	width: 100%;
	position: fixed;
}

.banner:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #130f40;
	opacity: .7;
	z-index: -1;
}

.banner h2{
	padding-top: 8%;
	font-size: 80px;
	color: #fff;
}

.content-area{
	width: 100%;
	height: 800px;
	position: relative;
	background: #fff;
	top: 550px;
}

.content-area h2{
	font-size: 40px;
	margin: 0;
	padding-top: 30px;
	letter-spacing: 4px;
}

.content-area p{
	padding: 2% 0;
	line-height: 30px;
	text-align: justify;

}